<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:svg="http://www.w3.org/2000/svg">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.ico"/>
    <script src="/js/vue.js" th:src="@{/js/vue.js}"></script>
    <script th:src="@{/webjars/axios/0.19.0/dist/axios.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/post-content.css}" type="text/css">
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <script th:src="@{/js/validation.js}"></script>
    <script src="/js/common.js"></script>

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <title>长弓林夕 | 博文</title>


</head>
<body>
<div id="app">
    <transition-group appear name="top-appear" tag="div">
        <div class="header-container fixed-top" key="nav" style="font-size: 1.25rem"
             th:insert="~{fragments :: head}"></div>
        <div class="logo-container mb-4" key="logo" th:insert="~{fragments :: blog_log}"></div>
        <div class="container sidebar-container mb-5" key="post-side">
            <div class="row justify-content-between">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div th:insert="~{fragments :: post-template}"></div>

                </div>
                <div class="col-lg-3 col-md-3 col-sm-3" th:insert="~{fragments :: side}"></div>
            </div>
        </div>
    </transition-group>
    <transition appear name="footer-appear">
        <div class="footer-container" th:insert="~{fragments :: foot}"></div>
    </transition>

    <div th:insert="~{fragments :: tb-controller}">
    </div>
</div>
<script>
    let title = $('#postTitle').text();
    document.title = '长弓林夕 | ' + title;
    var vm = new Vue({
        el: '#app',
        data: {
            currentScrollH: 1,
            currentScrollT: 0,
            baseStr: 'images/avatar',
            buttonClasses: {
                'btn': true,
                'btn-success': false,
                'float-right': true,
                'btn-outline-warning': true,
                'pr-3': true,
                'pl-3': true
            },
            show: false,
            postTitle: '',
            isMain: false,
            commentArticleArea: {
                username: '',
                content: '',
                email: '',
                website: '',
            },
            commentOtherArea: {},
            article: '',
            previousShow: false,
            previousArticle: '',
            nextShow: false,
            nextArticle: '',
            comments: [],
            page: {
                start: 0,
                count: 3
            },
            pageInfo: {
                total: 0,
                current: 1,
                totalPage: 0
            },
            quote: {
                content: '',
                author: ''
            },
            queryTags: '',
            articleTags: '',
            counter: '',
            mostRecent:[],
            mostPopular:[],
            commentsLogos:[],
            mostRecentComments:'',
            categories:[]

        },
        created: function () {
            this.scrollT = document.documentElement.scrollTop;
            this.scrollH = document.documentElement.scrollHeight;
            window.addEventListener('scroll', this.handleScroll);
        },
        destroyed() {
            window.removeEventListener('scroll', this.handleScroll);
        },
        mounted() {
            this.$data.postTitle = title;
            this.getPostContent(this.$data.postTitle);
            this.hasPreviousOrNext(this.$data.postTitle);
            this.getPostCommentsByPage(this.$data.postTitle, this.page.start, this.page.count)
            this.getQuoteForToday();
            this.getAllTags();
            this.getMostRecent();
            this.getMostPopular();
            this.getMostRecentComments();
            this.getAllCategories();
        },
        updated: function () {
            this.$nextTick(function () {
                vm.counter = $("#busuanzi_value_page_pv").text();
                this.updatePageViewCount(vm.postTitle);
            });
        },
        methods: {
            getAllCategories:function(){
                axios.post('/articles/category/all', {
                    timeout: 1000,
                    responseType: 'json'
                }).then(function (response) {
                    console.log(response.data);
                    vm.categories = response.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            getMostPopular: function(){
                axios.post('/posts/mostPopular', {
                    timeout: 1000,
                    responseType: 'json'
                }).then(function (response) {
                    vm.mostPopular = response.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            getMostRecentComments: function(){
                axios.post('/articles/mostRecentComments', {
                    timeout: 1000,
                    responseType: 'json'
                }).then(function (response) {
                    vm.mostRecentComments = response.data.comments;
                    vm.commentsLogos = response.data.articleLogos;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            getMostRecent: function(){
                axios.post('/articles/mostRecent', {
                    timeout: 1000,
                    responseType: 'json'
                }).then(function (response) {
                    vm.mostRecent = response.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            updatePageViewCount: function (title) {
                axios.post('/posts/' + title + '/increaseViewCount', {
                    timeout: 1000,
                    data: vm.counter,
                    responseType: 'json'
                }).then(function (response) {

                }).catch(function (error) {
                    console.log(error);
                });
            },
            getPageWithTag: function () {
                window.location.href = '/tags/queryTags/' + this.queryTags;
            },
            getAllTags: function () {
                axios.post('/sidebar/tags', {
                    timeout: 1000,
                    responseType: 'json'
                }).then(function (response) {
                    vm.articleTags = response.data
                }).catch(function (error) {
                    console.log(error);
                });
            },
            getPostCommentsByPage: function (title, start, count) {
                let THIS = this;
                let obj = {
                    'start': start,
                    'count': count
                };
                axios.post('/posts/' + title + '/comments/', {
                    timeout: 1000,
                    data: obj,
                    responseType: 'json'
                }).then(function (response) {
                    vm.page.start = start;
                    THIS.comments = response.data.comments;
                    let total = response.data.total;
                    let page = total / vm.page.count;
                    if (page < 1) {
                        page = 1;
                    } else {
                        page = Math.ceil(total / vm.page.count);
                    }
                    vm.pageInfo.total = total;
                    vm.pageInfo.totalPage = page;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            submitArticleCommentReply: function (event, username) {
                let $target = $(event.target);
                let content = $($target).find('textarea').val();
                let user = $target.find('input')[0].value;
                let email = $target.find('input')[1].value;
                let website = $target.find('input')[2].value;
                if (user.length < 3
                    || content.length < 20
                    || !(email.match(/\w+@\w+\.\w+/g))
                    || website.length < 10) {
                    $target.parent().find('.alert').show(400, 'swing');
                    return false;
                }
                $($target.parentElement).find('.alert').hide(400, 'swing');
                let comment = {
                    'username': user,
                    'content': content,
                    'email': email,
                    'website': website,
                    'replying': username
                };
                axios.post('/posts/' + vm.postTitle + '/comments/addReply', {
                    timeout: 1000,
                    data: comment,
                    responseType: 'json'
                }).then(function (response) {
                    vm.getPostCommentsByPage(vm.postTitle, vm.page.start, vm.page.count);
                }).catch(function (error) {
                    console.log(error);
                });
            },
            closeAlert: function (event) {
                $(event.target.parentElement.parentElement).hide(400, 'swing');
            },
            submitArticleComment: function (event) {
                let THIS = this;
                if (vm.commentArticleArea.username.length < 3
                    || vm.commentArticleArea.content.length < 20
                    || vm.commentArticleArea.website.length < 10) {
                    return false;
                }
                let comment = {
                    'username': vm.commentArticleArea.username,
                    'content': vm.commentArticleArea.content,
                    'email': vm.commentArticleArea.email,
                    'website': vm.commentArticleArea.website
                };
                axios.post('/posts/' + vm.postTitle + '/comments/add', {
                    timeout: 1000,
                    data: comment,
                    responseType: 'json'
                }).then(function (response) {
                    THIS.getPostCommentsByPage(vm.postTitle, vm.page.start, vm.page.count);
                }).catch(function (error) {
                    console.log(error);
                });
            },
            toPrevious: function () {
                let previousTitle = this.previousArticle.title;
                window.location.href = '/archive/' + previousTitle;
            },
            toNext: function () {
                let nextTitle = this.nextArticle.title;
                window.location.href = '/archive/' + nextTitle;
            },
            hasPreviousOrNext: function (title) {
                axios.post('/articles/hasPreOrNext', {
                    timeout: 1000,
                    data: title,
                    responseType: 'json'
                }).then(function (response) {
                    if (response.data.previous) {
                        vm.previousShow = true;
                        vm.previousArticle = response.data.previous;
                    }
                    if (response.data.next) {
                        vm.nextShow = true;
                        vm.nextArticle = response.data.next;
                    }

                }).catch(function (error) {
                    console.log(error);
                });
            },
            getPostContent: function (title) {
                axios.post('/posts', {
                    timeout: 1000,
                    data: title,
                    responseType: 'json'
                }).then(function (response) {
                    vm.article = response.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            toggleClass: function () {
                this.buttonClasses["btn-success"] = !this.buttonClasses["btn-success"];
                this.buttonClasses["btn-outline-warning"] = !this.buttonClasses["btn-outline-warning"];
            },
            toTop: function () {
                if (navigator.userAgent.toLowerCase().indexOf("edge") > 0) {
                    $(document).scrollTop(0);
                    return;
                }
                document.documentElement.scrollTo({
                    top: 0,
                    behavior: 'smooth'
                });
            },
            toBottom: function () {
                if (navigator.userAgent.toLowerCase().indexOf("edge") > 0) {
                    $(document).scrollTop(document.documentElement.scrollHeight);
                    return;
                }
                document.documentElement.scrollTo({
                    top: document.documentElement.scrollHeight,
                    behavior: 'smooth'
                });
            },
            handleScroll: function (event) {
                this.scrollH = document.documentElement.scrollHeight;
                this.scrollT = document.documentElement.scrollTop;
            },
            pageClick: function (n) {
                let height = document.querySelector('.comments-container').offsetHeight;
                this.hideAllReplyArea();
                vm.pageInfo.current = n;
                let startIndex = (n - 1) * vm.page.count;
                window.scrollBy({
                    top: -height,
                    left: 0,
                    behavior: 'smooth'
                });
                this.getPostCommentsByPage(this.postTitle, startIndex, vm.page.count);
            },
            showReplyArea: function (event) {
                let $eventParent = $(event.target.parentElement);
                let $event = $(event.target);
                if ($(event.target).text().trim() === '回复') {
                    $eventParent.children('form').show(300, 'swing');
                    $event.text('取消回复');
                } else {
                    $eventParent.children('form').hide(300, 'linear');
                    $event.text('回复');
                }
                event.stopPropagation();
            },
            hideAllReplyArea: function () {
                $('.comment-reply-area').hide();
                $('.replyIcon').text('回复');
            },
            getQuoteForToday: function () {
                axios.post('/sidebar/quote', {
                    timeout: 1000,
                    responseType: 'json'
                }).then(function (response) {
                    vm.quote = response.data;
                }).catch(function (error) {
                    console.log(error);
                });
            }
        },
        computed: {
            getRandomImage: function () {
                getRandomInt(5);
                return this.baseStr + getRandomInt(5) + '.png';
            },
            scrollPercent: function () {
                let sbHeight = window.innerHeight * (window.innerHeight / document.body.offsetHeight) * 3;
                if (this.currentScrollT == 0) {
                    sbHeight = 0;
                }
                return Number.parseFloat(((this.currentScrollT + sbHeight) / this.currentScrollH).toFixed(3));
            },
            scrollT: {
                get: function () {
                    return this.currentScrollT;
                },
                set: function (newVal) {
                    this.currentScrollT = newVal;
                }
            },
            scrollH: {
                get: function () {
                    return this.currentScrollH;
                },
                set: function (newVal) {
                    this.currentScrollH = newVal;
                }
            },
            computedProgress: function () {
                let str = ',300';
                return this.scrollPercent * 220 + str;
            },
            defaultStyle: function () {
                return {
                    strokeDasharray: '0,300',
                    transition: 'all .5s ease-in-out'
                }
            },
            computedStyle: function () {
                return {
                    strokeDasharray: this.computedProgress,
                    transition: 'all .5s ease-in-out'
                }
            }
        },
    });

    function getRandomInt(max) {
        return Math.floor(Math.random() * Math.floor(max));
    }

    $('body').click(function () {
        vm.$data.show = false;
    });
    $('body').delegate('.post-comment-container .comment-section .comment-row .replyIcon', 'mouseover', function (event) {
        $(this).css("cursor", "Pointer");
        $(this).css('opacity', 1);
        event.stopPropagation();
    });
    $('body').delegate('.post-comment-container .comment-section .comment-row .replyIcon', 'mouseout', function (event) {
        $(this).css("cursor", "Pointer");
        $(this).css('opacity', 0);
        event.stopPropagation();
    });

</script>
</body>
</html>