<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.athome.mapper.SidebarMapper">

    <select id="findOne" parameterType="int" resultType="quote">
        select quote,author from quotes where id = #{id}
    </select>

    <select id="count" resultType="int">
        select count('id') from quotes;
    </select>

    <select id="getAllIds" resultType="int">
        select id from quotes;
    </select>

    <select id="findPostsWithTag" parameterType="string" resultType="tag">
        select tag, article_title from tags where tag = #{tag}
    </select>

    <select id="getAllTags" resultType="string">
        select distinct tag from tags;
    </select>

</mapper>